[Unit]
Description=Server Alert Bot Service
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root
ExecStart=/usr/local/bin/serveralertbot /etc/serveralertbot.yaml
Restart=always
Environment=USER=root HOME=/root

[Install]
WantedBy=multi-user.target
